@import './colors.scss';

.bg-weak-50 {
    background: var(--weak-50);
}
.bg-white-400 {
    background: var(--white-400)
}
.bg-white-500 {
    background: var(--white-500)
}
.bg-white-600 {
    background: var(--white-600)
}
.bg-dark-green-25{
   background: var(--dark-green-25);
}
.bg-dark-green-500{
   background: var(--dark-green-500);
}
.bg-dark-green-600{
   background: var(--dark-green-600);
}
.bg-dark-green-800{
   background: var(--dark-green-800);
}
.bg-soft-200{
    background: var(--soft-200);
}
.bg-red-50{
    background: var(--red-50);
}
.bg-error-500{
    background: var(--error-500);
}
.bg-orange-100{
    background: var(--orange-100);
}


.bg-orange-700{
    background: var(--orange-700);
}

