@import './colors.scss';

.bg-weak-50 {
    background: var(--weak-50);
}
.bg-white-400 {
    background: var(--white-400)
}
.bg-white-500 {
    background: var(--white-500)
}
.bg-white-600 {
    background: var(--white-600)
}
.bg-dark-green-25{
   background: var(--dark-green-25);
}
.bg-dark-green-50{
   background: var(--dark-green-50);
}
.bg-dark-green-500{
   background: var(--dark-green-500);
}
.bg-dark-green-600{
   background: var(--dark-green-600);
}
.bg-dark-green-700{
   background: var(--dark-green-700);
}
.bg-dark-green-800{
   background: var(--dark-green-800);
}
.bg-soft-200{
    background: var(--soft-200);
}
.bg-red-50{
    background: var(--red-50);
}
.bg-error-500{
    background: var(--error-500);
}
.bg-orange-100{
    background: var(--orange-100);
}


.bg-orange-700{
    background: var(--orange-700);
}


.disabledBg:disabled{
 @extend .bg-weak-50;
 border-radius: 8px ;
}

.bg-spotify{
    background: #5BCF82;
}
.bg-youtube{
     background: #FB3748;
}
.bg-amazon{
     background: #FF9900;
}
.bg-youtube-premium{
     background: #AD1F2B;
}
.bg-tiktok{
     background: #FF8447;
}
.bg-facebook{
     background: #335CFF;
}
.bg-apple-music{
    background:#7D52F4;
}
.bg-other-platforms{
    background: #CACFD8;
}
.bg-other{
    background: #717784;
}
